<% content_for :header do%>
<%set_title "Coverages page #{@page} of #{@n_pages} - Geoparsed Records"%>
<%= render :partial => 'archive_searches/search_form_small' %>
<%end%>

<% content_for :col1 do%>
	<div id="content">
		<h1>Coverages</h1>
		<ul id="natlibPropertyList">
			
		<%for coverage in @coverages%>
			<li><a href="/geoparsed/coverage/<%=coverage.permalink%>"><%=coverage.name%></span></li>
		<%end%>
			
		</ul>
	</div>
	
	<%= will_paginate @coverages %>
	
<%end%>

<% content_for :col2 do%>
	Coverages are included in the metadata provided by the Digital NZ service
<%end%>