/* Portlet boxes */
/* Page links */
/* Body colours */

/* Minimum width */
/* Default initial font size */
/* --- portlets --- */

.centreItem { margin-left: auto; margin-right: auto; }

.inline { display: inline; }

.slideshow { margin-left: auto; margin-right: auto; }

.slideshow img { display: block; margin-left: auto; margin-right: auto; margin-bottom: 12px; height: 130px; }

.slideshow a { background: #FFF; display: inline; float: none; margin: 0 0 4px 8px; width: auto; padding: 10px 10px 15px; text-align: centre; min-width: 120px; max-width: 260px; font-family: "Marker Felt", sans-serif; text-decoration: none; color: #333; font-size: 1em; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(+3deg); -webkit-transform: rotate(+3deg); }

.slideshow a:after { content: attr(title); }

.slideshow  a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.5); -moz-box-shadow: 0 6px 12px rgba(0,0,0,.5); position: relative; z-index: 5; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(240, 240, 240)), to(rgb(250,250,220))); }

/* Buttons */
.button { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227))); padding: 4px 14px 6px; border: 1px solid rgba(0,0,0,.25); border-bottom-color: rgba(0,0,0,.35); -webkit-border-radius: 15px; -moz-border-radius: 15px; font-weight: bold; font-size: 1.3em; }

.input { font-size: 1.3em; padding: 2px; }

.clearfix { overflow: auto; overflow: -moz-scrollbars-none; display: inline-block; }
.clearfix { display: block; }

body { margin: 0; padding: 0; border: 0; width: 100%; background: #f3f3f3; min-width: 1024px; font-size: 90%; }

#main { color: !bgcolor; }

a { color: green; }
a:hover { color: #f3f3f3; background: green; text-decoration: none; }

.colmask { position: relative; clear: both; float: left; width: 100%; overflow: hidden; }

.holygrail { background: #f3f3f3; }
.holygrail .colmid { float: left; width: 200%; /* Width of right col */ /* FIXME - REVIEW LAST 2 ITEMS */ margin-left: -4px; position: relative; right: 100%; background: !bgcolor; }
.holygrail .colleft { float: left; width: 100%; margin-left: -50%; position: relative; /* Width of lhs column plus rhs column */ /* This is currently too far left */ /* FIXME ... */ left: 552px; background: #f3f3f3; }
.holygrail .col1wrap { float: left; width: 50%; position: relative; /* Width of left column */ right: 540px; /* Remove this if not required */ padding-bottom: 1em; /* Centre column side padding:Left padding  left column width + centre column left padding width  */ /* Right padding  right column width  centre column right padding width */ }
.holygrail .col1 { margin-top: 0px; margin-bottom: 0px; /* This is the position where the LHS column meets the centre one */ margin-left: 550px; /* This is where the centre column meets the RHS one */ margin-right: 18px; position: relative; left: 200%; overflow: hidden; }
.holygrail .col2 { float: left; float: right; /* Width of left column content (left column width minus left and right padding) */ width: 540px; position: relative; /* Width of the left-had side padding on the left column */ right: 4px; }
.holygrail .col3 { /* LOOKS CORRECT */ float: left; float: right; /* Width of right column content (right column width minus left and right padding) */ width: 0px; /* Width of right column right-hand padding + left column left and right padding */ /* This is the position with respect to the RHS */ margin-right: 8px; position: relative; left: 50%; background: #f3f3f3; }

#footer { clear: both; float: left; width: 100%; border-top: 1px solid #000; }
