.frontPageLinks {
	color: #777;
	font-size: 0.8em;
	text-decoration: none;
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
}

.frontPageLinks a {
	color: #777;
}

/* Tags on the home page */
.searchTermTags {
	padding: 20px 40px 20px 40px;
}

.searchTermTags a {
	color: #777;
}

.searchTermTag {
	padding-left: 10px;
	padding-right: 10px;
}


#facetsColumn ul {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    list-style-type: none;
    font-size: 0.8em;
}

#facetsColumn h5 {
    padding: 0px;
    margin: 0px;
}

#searchResultsColumn {
    padding:  0px;
    margin: 0px;
}

.searchResult {
    clear:both;
    padding-right: 20px;
}

li.searchResult {
    padding-left: 0px;
    margin-left: 0px;
    list-style-type: none;
    padding-bottom: 16px;
}

li.searchResult p {
    margin: 0px;
    padding: 0px;
}

/* Centre the home page search a la google */
#searchPanelHomePage {
    text-align: center;
}

#searchPanelSmall img {
    float:left;
    width:200px;
    padding-right: 20px;
}

#searchMetaInformation {
    padding: 0px;
    margin-top:0px;
    padding-left: 15px;
}

#searchMetaInformation div {
    float:right;
}

#searchPanelSmall {
    border-bottom: solid blue 1px;
    padding-bottom:12px;
    vertical-align: bottom;
}




.searchResultImage {
    float:left;
    height:40px;
    width:40px;
    padding:0px 10px 0px 0px;
}

.searchByLine {
    color: green;
    clear:both;
}

.searchByLine a {
    color: #77f;
}


.pageLinks {
    padding-left: 40px;
    padding-top: 10px;
}

.pageLinks ul li {
    list-style-type: none;
    display: inline;
}

#footer {
    clear: both;
    border-top: solid #ddd 1px;
    padding-top: 10px;
	margin-top: 20px;
    width: 100%;
}

#footer img {
    float:right;
    padding-bottom: 10px;
    padding-right: 10px;
}


#searchTermList {
    font-size: 0.7em;
    list-style-type: none;
   
}

#searchTermList li {
     border-bottom: solid gray 1px;
}


/* Image results */
td.imageResult img {
    display: block;
    border: solid blue 1px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: centre;
    padding-bottom: 0px;
    margin-bottom: 0px;
    vertical-align: bottom;
}

td.imageResult p {
    padding-top: 0px;
    margin-top: 0px;
}


/* Links in the footer to geoparsed records */

#geoparsingLinks {
	font-size: 0.8em;
	color: #777;
}

#geoparsingLinks a {
	color: #777;
}