<div id="footer"> 
<div id="footerLinksContainer">
	

	
	<div class="footerLinks"> 
		
	
		
		<h5>Images</h5> 
		<ul> 
			<li><a href="/search/category/images/content_partner/matapihi">Matapihi</a></li> 
			<li><a href="/search/category/images/content_partner/flickr">Flickr</a></li> 
			<li><a href="/search/category/images/content_partner/alexander-turnbull-library">Alexander Turnbull Library</a></li> 
			<li><a href="/search/category/images/content_partner/new-zealand-electronic-text-centre">Matapihi</a></li> 
			<li><a href="/search/category/images/content_partner/matapihi">NZETC</a></li> 
<li><a href="/search/category/images/content_partner/museum-of-new-zealand-te-papa-tongarewa">Te Papa</a></li>
			<li><a href="/search/category/images/content_partner/vc-browne-son">V.C. Browne &amp; Son</a></li> 
		 
		</ul> 
	</div> 
	
	<div class="footerLinks"> 
		<h5>Video</h5> 
		<ul> 
			<li><a href="/search/category/videos/content_partner/museum-of-new-zealand-te-papa-tongarewa">Te Papa</a></li>
			<li><a href="/search/category/videos/content_partner/ourspace">Our Space</a></li> 
			<li><a href="/search/category/videos/content_partner/matapihi">Matapihi</a></li> 
			<li><a href="/search/category/videos/content_partner/ministry-for-culture-and-heritage">Ministry for Culture and Heritage</a></li> 
			<li><a href="/search/category/videos/content_partner/nz-on-screen">NZ On Screen</a></li> 
			<li><a href="/search/category/videos/content_partner/puke-ariki">Puke Ariki</a></li> 
			<li><a href="/search/category/videos/content_partner/department-of-conservation-te-papa-atawhai">Department of Conservation</a></li> 
		</ul> 
	</div> 
	
	<div class="footerLinks">
		<h5>Open Calais</h5>
		<ul>
			<li><a href="/opencalais/country">Company</a></li>
			<li><a href="/opencalais/country">Country</a></li>
			<li><a href="/opencalais/facility">Facility</a></li>
			<li><a href="/opencalais/naturalfeature">Natural Feature</a></li>	
			<li><a href="/opencalais/organization">Organization</a></li>
			<li><a href="/opencalais/person">People</a></li>
			<li><a href="/opencalais/position">Position</a></li>
			<li><a href="/opencalais/provinceorstate">Province or State</a></li>
			<li><a href="/opencalais/region">Region</a></li>

			
		</ul>
	</div>
	
</div>

</div> 
<img src="/images/powered_grey.gif" alt="Powered by Logo for National Library" id="digitalNzLogo" class="clearFix"/>



