<div id="footer">
<img src="/images/powered_grey.gif" alt="Powered by Logo for National Library">
<span id="geoparsingLinks">Browse Geoparsed records by:
	<a href="/geoparsed/addresses">Addresses</a> |
	<a href="/geoparsed/provider-and-title">Content Provider, Title</a> |
	<a href="/geoparsed/coverages">Coverage</a> | 
	<a href="/geoparsed/lowest-area">Lowest Area</a> | 
	<a href="/geoparsed/highest-area">Highest Area</a> | 
	<a href="/geoparsed/no-places-found">No Area Defined</a>
</span>
</div>