<div id="footer">
<img src="/images/powered_grey.gif" alt="Powered by Logo for National Library">

<span id="geoparsingLinks">Browse Geoparsed records by:<br/>
	Geography: <a href="/geoparsed/lowest-area">Lowest Area</a>
	<a href="/geoparsed/highest-area">Highest Area</a>
	<a href="/geoparsed/no-places-found">No Area Defined</a>
	<br/>
	Metadata: <a href="/geoparsed/metadata/collections">Collection</a>
	<a href="/geoparsed/metadata/content_partners">Content Partner</a>
	<a href="/geoparsed/metadata/contributors">Contributor</a>
	<a href="/geoparsed/metadata/coverages">Coverage</a>
	<a href="/geoparsed/metadata/creators">Creator</a>
	<a href="/geoparsed/metadata/formats">Format</a>
	<a href="/geoparsed/metadata/languages">Language</a>
	<a href="/geoparsed/metadata/placenames">Placenames</a>
	<a href="/geoparsed/metadata/publishers">Publishers</a>
	<a href="/geoparsed/metadata/subjects">Subjects</a>
	<a href="/geoparsed/metadata/tipes">Types</a>
	<br/>
	Open Calais: <a href="/opencalais">All</a>
	<a href="/opencalais/country">Company</a>
	<a href="/opencalais/country">Country</a>
	<a href="/opencalais/facility">Facility</a>
	<a href="/opencalais/naturalfeature">Natural Feature</a>	
	<a href="/opencalais/organization">Organization</a>
	<a href="/opencalais/person">People</a>
	<a href="/opencalais/position">Position</a>
	<a href="/opencalais/provinceorstate">Province or State</a>
	<a href="/opencalais/region">Region</a>
	<br/>
</span>
</div>


