<%
@active_tab = :home if @active_tab.blank?
tabs = {
	'Home' => '/',
	'Explore' => '/search',
	'Open Calais' => '/opencalais'
}
%>
<div id="header"> 
 	<%=yield :header %>
    <div id="logo">&nbsp;</div> 
 	<ul> 
		<%for tabname in tabs.keys
		le_sym = tabname.titleize.singularize.downcase.gsub(' ', '_').to_sym
		
		class_string = ''
		class_string = " class='active'" if le_sym == @active_tab
		%>
        	<li><a href="<%=tabs[tabname]%>"<%=class_string%>><%=tabname%></a></li> 
    	<%end%>
     </ul>
</div>
<div id="headerUnderFooter">&nbsp;</div>