<div id="header"> 
 	<%=yield :header %>
    <div id="logo">&nbsp;</div> 
 	<ul> 
        <li><a href="/" class="active">Home</a></li> 
        <li><a href="/">Search</a></li> 
        <li><a href="/">Open Calais</a></li> 
        <li><a href="/">Geoparsed</a></li> 


     </ul> 
</div> 
<div id="headerUnderFooter">&nbsp;</div>