<div class="searchPanel">
    <%= render :partial => 'search_form' %>
</div>

<div class="frontPageLinks">
Browse geoparsed records by<br/>
<a href="/natlib_metadatas/geoparsed">Content Provider, Title</a> | 
<a href="/natlib_metadatas/geoparsed?order=la">Lowest Area</a> | 
<a href="/natlib_metadatas/geoparsed?order=ha">Highest Area</a> | 
<a href="/natlib_metadatas/geoparsed?order=na">No Area Defined</a>
</div>