<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Digital NZ Search</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%=stylesheet_link_tag 'style'%>
<%= javascript_include_tag :defaults %>
</head>
<body>
    <%= render :partial => 'shared/google_analytics'%>
    <%=yield%>
<div id="footer">
<img src="/images/powered_grey.gif" alt="Powered by Logo for National Library">
</div>
</body>
</html>